@media (min-width: 0px) and (max-width: 500px) {
  .banner-height {
    max-width: 1440px;
    height: 236px;
    /* background-color: black; */
    /* Set the height for lg screens */
  }
  .btnw {
    font-size: 10px;
  }
  .ReactModal__Content {
    width: 100%;
    height: 473px;
    position: fixed;
    padding: 0px !important;
    bottom: 133px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bannerText {
    position: relative;
    bottom: 80px;
    color: white;
  }
  .postImg {
    border-radius: "10px 10px 0px 0px";
  }
  .postCard {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    border-left: 0;
    border-right: 0;
  }
}

@media (min-width: 992px) and (max-width: 2000px) {
  .btnw {
    width: 100%;
  }
  .ReactModal__Content {
    width: 680px;
    height: 443px;
    padding: 0px !important;
    /* top: 13px; */
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  .ReactModal__Content2 {
    width: 480px;
    height: 443px;
    padding: 0px !important;
    /* top: 13px; */
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  .banner-height {
    max-width: 1440px;
    height: 440px; /* Set the height for lg screens */
  }
  .bannerText {
    position: relative;
    bottom: 140px;
    color: white;
  }
  .postImg {
    border-radius: "0px 0px 0px 0px";
    border: none;
  }
  .postCard {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }
}
.outlineN:focus {
  outline: none;
}
.btn-check:checked {
  color: var(--bs-btn-active-color);
  background-color: #f1f3f5;
  border-color: var(--bs-btn-active-border-color);
}

.ReactModal__Overlay {
  background-color: #00000096 !important;
}
